body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
}

header.masthead {
  position: relative;
  background-color: #343a40;
  background: url("../img/bg-masthead.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 8rem;
  padding-bottom: 8rem;
}

header.masthead .overlay {
  position: absolute;
  background-color: #212529;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0.3;
}

header.masthead h1 {
  font-size: 2rem;
}

@media (min-width: 768px) {
  header.masthead {
    padding-top: 12rem;
    padding-bottom: 12rem;
  }
  header.masthead h1 {
    font-size: 3rem;
  }
}

.showcase .showcase-text {
  padding: 3rem;
}

.showcase .showcase-img {
  min-height: 30rem;
  background-size: cover;
}

@media (min-width: 768px) {
  .showcase .showcase-text {
    padding: 7rem;
  }
}

.features-icons {
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.features-icons .features-icons-item {
  max-width: 20rem;
}

.features-icons .features-icons-item .features-icons-icon {
  height: 7rem;
}

.features-icons .features-icons-item .features-icons-icon i {
  font-size: 4.5rem;
}

.features-icons .features-icons-item:hover .features-icons-icon i {
  font-size: 5rem;
}

.testimonials {
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.testimonials .testimonial-item {
  max-width: 18rem;
}

.testimonials .testimonial-item img {
  max-width: 12rem;
  box-shadow: 0px 5px 5px 0px #adb5bd;
}

.call-to-action {
  position: relative;
  background-color: #343a40;
  background: url("../img/bg-masthead.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.call-to-action .overlay {
  position: absolute;
  background-color: #212529;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0.3;
}

footer.footer {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.navbar {
  background-color: #0077b0;
}

p, footer a, .stats-info h2 {
  color: #3B4256 !important;
}

.navbar-brand, button {
  padding-top: 0;
  padding-bottom: 0;
  color: #F4F7FB !important;
}

.editor-block {
  padding: 10px 20px;
  background: #fff;
}
.ql-snow .ql-picker.ql-header {
  width: 120px;
}
.ql-container {
    font-size: 16px;
}
.ql-toolbar.ql-snow {
  padding: 5px;
}
#text-editor {
  border: 0;
  padding: 2px;
}
.ql-editor.ql-blank::before {
  left: 0;
  color: #3B4256;
}
.ql-editor {
  padding: 12px 0;
  color: #3B4256;
}
.standalone-container {
  /*margin: 50px auto;
  max-width: 720px;*/
}
#snow-container {
  height: 400px;
}

.ql-container.ql-snow {
  border: 0
}
.bg-light {
    background-color: #F4F7FB !important
}

.editor-tab {
  font-size: 16px;
  padding: 10px 10px 7px 10px;
  margin-top: 20px;
  margin-bottom:0;
  background: #fff;
  color: #3B4256;
  width: 100px;
}
.word-title {
  font-size: 24px;
}

.sv-detected {
    background-color: #ffb62752;
    padding: 3px 2px;
    margin: 0 -2px;
    color: #e94b3d;
    font-style: normal;
    border-radius: .2em;
}