{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">

        <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.ico' %}"/>

        <!-- Шрифты -->
        <link href="{% static 'vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'vendor/simple-line-icons/css/simple-line-icons.css' %}" rel="stylesheet" type="text/css">

        <!-- Bootstrap -->
        <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

        <!-- Стили -->
        <link href="{% static 'css/landing-page.css' %}" rel="stylesheet">

        <!-- JavaScript -->
        <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
        <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
        {% block header %}
        {% endblock %}
    </head>

    <body class="bg-light">
    {% block body %}
    {% endblock %}

    <footer class="container" style="margin-bottom: 20px">
        <div class="row">
            <div class="col-lg-12 h-100">
                <div class="text-muted small mb-4 mb-lg-0">
                    <a href="https://cyberkolhoz.ru/page/решения/" target="_blank" title='О сервисе'>Обратная Связь</a>  |
                    <a href="https://cyberkolhoz.ru/page/решения/" target="_blank" title='О сервисе'>О Сервисе</a> |
                    <a href="https://gitlab.com/cyberkolhoz/slovoved" target="_blank" title='Код Проекта'>Исходный Код</a> |
                    <a href="https://cyberkolhoz.ru/" title='Кибернетический Колхоз "Батмас"'>&copy; КиберКолхоз "Батмас"</a>
                </div>
            </div>
        </div>
    </footer>

    {% block footer_json %}
    {% endblock %}

    <!-- Go to www.addthis.com/dashboard to customize your tools -->
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5adbf5e96a86c055"></script>

    <!-- Yandex.Metrika counter -->
    <script type="text/javascript" >
        if(window.location.host.indexOf('localhost') != 0) {
          (function (d, w, c) {
            (w[c] = w[c] || []).push(function() {
              try {
                w.yaCounter48640466 = new Ya.Metrika({
                  id:48640466,
                  clickmap:true,
                  trackLinks:true,
                  accurateTrackBounce:true,
                  webvisor:true
                  });
                } catch(e) { }
            });

            var n = d.getElementsByTagName("script")[0],
              s = d.createElement("script"),
              f = function () { n.parentNode.insertBefore(s, n); };
            s.type = "text/javascript";
            s.async = true;
            s.src = "https://mc.yandex.ru/metrika/watch.js";

            if (w.opera == "[object Opera]") {
              d.addEventListener("DOMContentLoaded", f, false);
            } else { f(); }
          })(document, window, "yandex_metrika_callbacks");
        }
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/48640466" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    </body>
</html>