{% extends 'base.html' %}
{% load static %}

{% block header %}
    <title>Слововед - Говори Правильно</title>
{% endblock %}

{% block body %}
    <nav class="navbar navbar-light static-top">
        <div class="container">
            <a class="navbar-brand" href="/">Слововед</a>
        </div>
    </nav>

    <section class="container">
        <br>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active" aria-current="page">Источники</li>
            </ol>
        </nav>
    </section>

    <section class="container">
        <h5>Наблюдение за наличием заимствованных слов в социальных группах и на новостных сайтах</h5>
        <p>Ежедневный сбор и проверка опубликованных данных</p>
    </section>

    <div class="container">
        <div class="card-deck mb-3 text-center">
        {% for source in object_list %}
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">{{source.title}}</h4>
                </div>
                <div class="card-body">
<!--                        <h1 class="card-title pricing-card-title">$0 <small class="text-muted">/ mo</small></h1>-->
                    <ul class="list-unstyled mt-3 mb-4">
                        <li>Вид страницы: {{source.get_kind_display}}</li>
                        <li>Всего записей: {{source.cnt}}</li>
                        <li>Проверено: {{source.last_check_at}}</li>
                        <li>Ссылка: <a href="{{source.url}}" target="_blank">{{source.url}}</a></li>
                    </ul>
                    <a href="/saitoved/{{source.pk}}/" class="btn btn-block btn-primary">К Записям</a>
                </div>
            </div>
            {% if forloop.counter|divisibleby:3 %}
            </div>
            <div class="card-deck mb-3 text-center">
            {% endif %}
        {% endfor %}
        </div>
    </div>

    <section class="container" style="margin-top: 20px">
        <div class="row">
            <div class="col-md-9">
                <p>
                    <script src="https://yastatic.net/es5-shims/0.0.2/es5-shims.min.js"></script>
                    <script src="https://yastatic.net/share2/share.js"></script>
                    <div class="ya-share2" data-url="https://govori-pravilno.ru/saitoved/" data-services="vkontakte,telegram,viber,twitter,odnoklassniki,lj,whatsapp,facebook"></div>
                </p>
            </div>
            <div class="col-md-3">
                <div style="margin-top: 0; width: 250px; height: 80px;">
                    <blockquote class="blockquote" style=" border: 1px solid rgba(0,0,0,.1); padding: 5px; border-radius: 0.2em">
                        <!--<p class="mb-0" style="font-size: 12px;">Мы из всех исторических катастроф вынесли и сохранили в чистоте великий русский язык, он передан нам нашими дедами и отцами…</p>-->
                        <!--<footer style="font-size: 12px;" class="text-right blockquote-footer">Василий Шукшин</footer>-->
                        <p class="mb-0" style="font-size: 12px;">Употреблять иностранное слово, когда есть равносильное ему русское слово - значит оскорблять и здравый смысл и здравый вкус.</p>
                        <footer style="font-size: 12px;" class="text-right blockquote-footer">В.Г. Белинский</footer>
                    </blockquote>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
