{% extends 'base.html' %}
{% load static %}

{% block header %}
    <title>Слововед - Говори Правильно</title>
{% endblock %}

{% block body %}
    <nav class="navbar navbar-light static-top">
        <div class="container">
            <a class="navbar-brand" href="/">Слововед</a>
        </div>
    </nav>

    <section class="container">
        <br>
        <p>Наблюдение за опубликованными записями в социальных группах и новостных сайтах</p>
        <br>
    </section>

    <section class="container">
        {% for source in object_list %}
            <p>
                <a href="/saitoved/{{source.pk}}/">{{ source.title }}</a> - {{source.url}} | {{source.last_check_at}}
            </p>
            <hr>
        {% endfor %}
    </section>

    <section class="container" style="margin-top: 20px">
        <div class="row">
            <div class="col-md-9">
                <p>
                    <script src="https://yastatic.net/es5-shims/0.0.2/es5-shims.min.js"></script>
                    <script src="https://yastatic.net/share2/share.js"></script>
                    <div class="ya-share2" data-url="https://govori-pravilno.ru/saitoved/" data-services="vkontakte,telegram,viber,twitter,odnoklassniki,lj,whatsapp,facebook"></div>
                </p>
            </div>
            <div class="col-md-3">
                <div style="margin-top: 0; width: 250px; height: 80px;">
                    <blockquote class="blockquote" style=" border: 1px solid rgba(0,0,0,.1); padding: 5px; border-radius: 0.2em">
                        <!--<p class="mb-0" style="font-size: 12px;">Мы из всех исторических катастроф вынесли и сохранили в чистоте великий русский язык, он передан нам нашими дедами и отцами…</p>-->
                        <!--<footer style="font-size: 12px;" class="text-right blockquote-footer">Василий Шукшин</footer>-->
                        <p class="mb-0" style="font-size: 12px;">Употреблять иностранное слово, когда есть равносильное ему русское слово - значит оскорблять и здравый смысл и здравый вкус.</p>
                        <footer style="font-size: 12px;" class="text-right blockquote-footer">В.Г. Белинский</footer>
                    </blockquote>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
